#navbar {
    background-color: black;
    width: 445px;
    height: 40px;
    max-width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-color: black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    animation: slideDown 0.7s ease;
}

h1 {
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 25px;
}

.nav-option {
    color: grey;
    font-size: 14px;
    text-decoration: none;
    border: 8px solid transparent;
    border-radius: 20px;
    background-color: transparent;
    transition: background 0.2s, color 0.2s;
}

.nav-option i {
    color: grey;
    transition: color 0.2s;
}

p {
    color: grey;
}

.link {
    color: black;
}

.container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    padding: 0 40px 0 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, 
               "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    animation: slideUp 1s ease;        
}

.context {
    width: 1100px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    animation: slideUp 1s ease;  
}

.context p {
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.2;   
    font-size: 15px;;
}

button {
    background-color: black;
    color: white;
    font-size: 14px;
    height: 42px;
    width: 150px;
    margin-top: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    vertical-align: middle;
}

.fa-house {
    color: white;
}

.fa-hammer {
    color: white;
}

.fa-envelope {
    color:white;
}

.fa-hand-point-up {
    color: white;
}

.fa-twitter {
    color: black;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 12px;
}

.fa-github {
    color: black;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 12px;

}


button .fa-envelope {
    font-size: 22px; /* Adjust size as needed */
    vertical-align: middle; 
    margin-right: 5px;/* Optional: aligns icon with text */
}

.nav-option:active {
    color: white;
    border: 8px solid grey;
    background-color: grey;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}


.nav-option:active i {
    color: white;

}
@keyframes slideDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}





      